extends layout

block content
  h1= title
  .header-overlay.close_cart-init
  .content-section.parallax-section.hero-section.hidden-section(data-scrollax-parent='true')
    .bg.par-elem(data-bg='images/bg/5.jpg' data-scrollax="properties: { translateY: '30%' }")
    .overlay
    .container
        .section-title
            h4 Enjoy your time in our Hotel with pleasure.
            h2 Garden Family Room
        .section-separator
            span
            i.fa-thin.fa-gem
    .hero-section-scroll
        .mousey
        .scroller
    .dec-corner.dc_lb
    .dec-corner.dc_rb
    .dec-corner.dc_rt
    .dec-corner.dc_lt
  .content
  .breadcrumbs-wrap
    .container
      a(href='/') Home
      a(href='/rooms') Rooms
      span Room single
  .content-section
    .section-dec
    .content-dec2.fs-wrapper
    .container
      .row
        .col-lg-8
          .blog-media
            .single-slider-wrap
              .single-slider
                .swiper-container
                  .swiper-wrapper.lightgallery
                    .swiper-slide.hov_zoom
                      img(src='images/room/1.jpg' alt='')
                      a.box-media-zoom.popup-image(href='images/room/1.jpg')
                        i.fal.fa-search
                    .swiper-slide.hov_zoom
                      img(src='images/room/2.jpg' alt='')
                      a.box-media-zoom.popup-image(href='images/room/2.jpg')
                        i.fal.fa-search
                    .swiper-slide.hov_zoom
                      img(src='images/room/3.jpg' alt='')
                      a.box-media-zoom.popup-image(href='images/room/3.jpg')
                        i.fal.fa-search
              .fw-carousel-button-prev.slider-button
                i.fa-solid.fa-caret-left
              .fw-carousel-button-next.slider-button
                i.fa-solid.fa-caret-right
              .sc-controls.fwc_pag
                .ss-slider-pagination
          .dec-container
            .dc_dec-item_left
              span
            .text-block
              .text-block-title
                h4 About Accommodation
                .sr-opt
                  .sa-price $129/Night
                  .sa_towishlist Add to Wishlist
              .room-card-details.rcd-single
                ul
                  li
                    i.fa-light.fa-crop
                    span 44m2
                  li
                    i.fa-light.fa-user
                    span 4 Guest
                  li
                    i.fa-light.fa-bed-front
                    span 2 Bed
                  li
                    i.fa-light.fa-bath
                    span 2 Bath
              .text-block-container
                p.has-drop-cap
                  | Qraesent eros turpis, commodo vel justo at, pulvinar mollis eros. Mauris aliquet eu quam id ornare. Morbi ac quam enim. Cras vitae nulla condimentum, semper dolor non, faucibus dolor. Vivamus adipiscing eros quis orci fringilla, sed pretium lectus viverra. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec nec velit non odio aliquam suscipit. Sed non neque faucibus, condimentum lectus at, accumsan enim.
                p
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in pulvinar neque. Nulla finibus lobortis pulvinar. Donec a consectetur nulla. Nulla posuere sapien vitae lectus suscipit, et pulvinar nisi tincidunt. Aliquam erat volutpat. Curabitur convallis fringilla diam sed aliquam. Sed tempor iaculis massa faucibus feugiat. In fermentum facilisis massa, a consequat purus viverra. Interdum et malesu they adamale fames ac anteipsu pimsine faucibus curabitur arcu site feugiat in tortor in, volutpat sollicitudin libero. Hotel non lorem acer suscipit bibendum vulla facilisi nedeuter .
                p
                  | Fames massa tortor sit nisl sit. Duis nulla tempus quisque et diam condimentum nisl. Rhoncus quisque elementum nulla lorem at turpis vitae quisque. Vulputate duis vel et odio hendrerit magna. Nec lacus dui egestas sit. Vulputate tincidunt viverra viverra etiam porta facilisis. Diam dui euismod eget donec. Pharetra leo sed felis urna. At a viverra urna elementum tristique ac integer pretium. Vel tincidunt sed mi nulla lectus sagittis.
              .tbc-separator
              .tbc_subtitle Room Amenities  
              .meg_aminites
                .row
                  .col-lg-4
                    .meg_aminites_item
                      i.fa-light.fa-water-ladder
                      span Free Swimming Pool
                  .col-lg-4
                    .meg_aminites_item
                      i.fa-light.fa-baby-carriage
                      span Extra  Baby Bed
                  .col-lg-4
                    .meg_aminites_item
                      i.fa-light.fa-dryer
                      span Washing Machine
                  .col-lg-4
                    .meg_aminites_item
                      i.fa-light.fa-wifi
                      span Free  Wi Fi
                  .col-lg-4
                    .meg_aminites_item
                      i.fa-light.fa-air-conditioner
                      span Air Conditioned
                  .col-lg-4
                    .meg_aminites_item
                      i.fa-light.fa-refrigerator
                      span In-room Refrigerator
              .tbc-separator
              .row
                .col-lg-6
                  .tbc_subtitle What  included in this suite?
                  .text-block_list
                    ul
                      li Upholstered seat beside the panoramic window
                      li Bathroom with rain shower
                      li Private balcony
                      li Service station with   coffee machine  and tea
                      li Upholstered seat beside the panoramic window
                      li TV-UHD screen for watching
                      li Writing desk with USB ports
                .col-lg-6
                  .tbc_subtitle Room Video Presentation
                  .video-box
                    img.respimg(src='images/room/2.jpg' alt='')
                    .overlay
                    #html5-videos.video-box-btn.image-popup.color-bg(data-html='#video1')
                      i.fas.fa-play
                  #video1.popup_video(style='display:none;' data-videolink='video/1.mp4')
                    video.lg-video-object.lg-html5(controls='' preload='none')
                      source(src='https://diamant.kwst.net/' type='video/mp4')
              .tbc-separator
        .col-lg-4
          .fix-bar-init
            .fw-search-wrap
              .fw-search-wrap-title Book  This Suite
              .section-separator
                span
                  i.fa-thin.fa-gem
              form.custom-form(action='https://diamant.kwst.net/' name='bookform')
                fieldset
                  .input-wrap
                    label Your Name:
                    input(type='text' placeholder='Your Name *' value='')
                  .input-wrap
                    label Phone:
                    input(type='text' placeholder='Your Phone' value='')
                  .date-container.input-wrap
                    label Date:
                    input#res_date(type='text' name='resdate' value='')
                  .quantity.input-wrap
                    .quantity_title Guests: 
                    .quantity-item
                      input.minus(type='button' value='-')
                      input.qty.color-bg(type='text' name='quantity' title='Qty' data-min='1' data-max='10' data-step='1' value='1')
                      input.plus(type='button' value='+')
                  button.searchform-submit.bs_btn Book Your Stay
      .limit-box
      .post-related
        .post-related_title
          h6 Similar Rooms
          .section-separator
            span
              i.fa-thin.fa-gem
        .row
          .item-related.col-lg-4
            a.item-related_img(href='/room-single')
              img.respimg(src='images/room/3.jpg' alt='')
              .overlay
              span View Details
            h3
              a(href='/room-single') Premium Panorama Room
            span.post-date.post-price $230/Night
            .room-card-details
              ul
                li
                  i.fa-light.fa-user
                  span 1 Guest
                li
                  i.fa-light.fa-bed-front
                  span 1 Bed
                li
                  i.fa-light.fa-bath
                  span 1 Bath
          .item-related.col-lg-4
            a.item-related_img(href='/room-single')
              img.respimg(src='images/room/4.jpg' alt='')
              .overlay
              span View Details
            h3
              a(href='/room-single') Beach Villa Room
            span.post-date.post-price $321/Night
            .room-card-details
              ul
                li
                  i.fa-light.fa-user
                  span 1 Guest
                li
                  i.fa-light.fa-bed-front
                  span 1 Bed
                li
                  i.fa-light.fa-bath
                  span 1 Bath
          .item-related.col-lg-4
            a.item-related_img(href='/room-single')
              img.respimg(src='images/room/5.jpg' alt='')
              .overlay
              span View Details
            h3
              a(href='/room-single') Superior Panorama Room
            span.post-date.post-price $143/Night
            .room-card-details
              ul
                li
                  i.fa-light.fa-user
                  span 1 Guest
                li
                  i.fa-light.fa-bed-front
                  span 1 Bed
                li
                  i.fa-light.fa-bath
                  span 1 Bath
  .content-dec
    span
  
